@import 'variables';

.about {
	margin: 8rem auto 2rem auto;
	color: $color-gray;

	&-me {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1024px) {
			& {
				flex-direction: column-reverse;
			}
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		letter-spacing: 0.1rem;

		@media screen and (max-width: 1024px) {
			& {
				width: 95%;
				margin: auto;
			}
		}

		@media screen and (max-width: 876px) {
			& {
				width: 70%;
				margin: auto;
			}
		}

		&-text {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&-primary {
			font-size: $heading-primary;
			font-weight: 600;
			span {
				color: $color-orange;
			}
			@media screen and (max-width: 876px) {
				& {
					font-size: $heading-primary-md;
				}
			}
			@media screen and (max-width: 480px) {
				& {
					font-size: $heading-primary-sm;
				}
			}
		}

		&-secondary {
			font-size: $heading-secondary;
			font-weight: 400;
			@media screen and (max-width: 876px) {
				& {
					font-size: $heading-secondary-md;
				}
			}
			@media screen and (max-width: 480px) {
				& {
					font-size: $heading-secondary-sm;
				}
			}
		}

		&-tertiary {
			font-size: $heading-tertiary;
			font-weight: 300;
			@media screen and (max-width: 876px) {
				& {
					font-size: $heading-tertiary-md;
				}
			}
			@media screen and (max-width: 480px) {
				& {
					font-size: $heading-secondary-sm;
				}
			}
		}
	}

	&__right {
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			width: 70%;
			height: auto;
			@media screen and (max-width: 1024px) {
				& {
					width: 65%;
					margin: 3rem auto;
				}
			}
		}
	}

	&-skills {
		font-size: $heading-secondary;
		font-weight: 600;
		color: $color-orange;
		margin-bottom: 5rem;
		margin-top: 10rem;

		@media screen and (max-width: 876px) {
			& {
				display: flex;
				justify-content: center;
			}
		}
	}

	&__logo {
		&-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			gap: 20px 26px;
			grid-auto-flow: row;
			grid-template-areas:
				'. . . . .'
				'. . . . .'
				'. . . . .';

			@media screen and (max-width: 1024px) {
				& {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr 1fr;
					gap: 15px 19px;
					grid-auto-flow: row;
					grid-template-areas:
						'. . . .'
						'. . . .'
						'. . . .'
						'. . . .';
				}
			}
			@media screen and (max-width: 876px) {
				& {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
					gap: 11px 15px;
					grid-auto-flow: row;
					grid-template-areas:
						'. . . '
						'. . . '
						'. . . '
						'. . . '
						'. . . ';
				}
			}
			@media screen and (max-width: 564px) {
				& {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
					gap: 8px 11px;
					grid-auto-flow: row;
					grid-template-areas:
						'. .'
						'. .'
						'. .'
						'. .'
						'. .'
						'. .'
						'. .'
						'. .';
				}
			}
		}

		&-item {
			margin: auto;
			width: 65%;
		}
	}
}
