@import 'variables';

.about {
	margin: 8rem auto 2rem auto;
	color: $color-gray;

	&-me {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		letter-spacing: 0.1rem;

		&-text {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&-primary {
			font-size: $heading-primary;
			font-weight: 600;
			span {
				color: $color-orange;
			}
		}

		&-secondary {
			font-size: $heading-secondary;
			font-weight: 400;
		}

		&-tertiary {
			font-size: $heading-tertiary;
			font-weight: 300;
		}
	}

	&__right {
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			width: 65%;
			height: auto;
		}
	}

	&-skills {
		font-size: $heading-secondary;
		font-weight: 600;
		color: $color-orange;
		margin-bottom: 5rem;
		margin-top: 10rem;
	}

	&__logo {
		&-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			gap: 20px 26px;
			grid-auto-flow: row;
			grid-template-areas:
				'. . . . .'
				'. . . . .'
				'. . . . .';
		}

		&-item {
			margin: auto;
			width: 65%;
		}
	}
}
