@import 'variables';

.testimonial {
	width: 90vw;
	margin: 5rem auto;
	max-width: 1170px;

	&__center {
		margin: 0 auto;
		margin-top: 8rem;
		width: 80vw;
		height: 42rem;
		max-width: 800px;
		text-align: center;
		position: relative;
		display: flex;
		overflow: hidden;
	}

	&__btn {
		&-container {
			width: 100%;
			display: flex;
			justify-content: center;
			transition: all 0.3s;

			&:hover {
				transform: translateY(-0.2rem) !important;
			}
			&:active {
				transform: translateY(0) !important;
			}
		}
	}

	&__person-img {
		border-radius: 50%;
		margin-bottom: 1rem;
		width: 150px;
		height: 150px;
		object-fit: cover;
		border: 4px solid #dae2ec;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	}

	&__person-name {
		font-size: 2rem;
		font-weight: 400;
		color: $color-gray;
	}

	&__text {
		font-size: 1.6rem;
		max-width: 35em;
		margin: 0 auto;
		margin-top: 2rem;
		line-height: 2;
		color: #7392af;
	}

	&__icon {
		font-size: 3rem;
		margin-top: 1rem;
		color: #ba5d2c;
	}
	&__prev,
	&__next {
		position: absolute;
		top: 200px;
		transform: translateY(-50%);
		background: #617d98;
		color: #ffffff;
		width: 3.5rem;
		height: 3.5rem;
		display: grid;
		place-items: center;
		border-color: transparent;
		font-size: 3.2rem;
		border-radius: 0.25rem;
		cursor: pointer;
		transition: all 0.3s linear;
	}
	&__prev:hover,
	&__next:hover {
		background: #ba5d2c;
	}
	&__prev {
		left: 0;
	}
	&__next {
		right: 0;
	}
}

article {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s linear;
}
article.activeSlide {
	opacity: 1;
	transform: translateX(0);
}
article.lastSlide {
	transform: translateX(-100%);
}
article.nextSlide {
	transform: translateX(100%);
}
