@import 'variables';

.header {
	color: $color-gray;
	display: flex;
	justify-content: space-between;
	margin: 8rem auto;
	// width: 100%;

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		letter-spacing: 0.1rem;

		&-text {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&-primary {
			font-size: $heading-primary;
			font-weight: 600;
			span {
				color: $color-orange;
			}
		}

		&-secondary {
			font-size: $heading-secondary;
			font-weight: 400;
		}

		&-tertiary {
			font-size: $heading-tertiary;
			font-weight: 300;
		}

		&-cta {
			margin: 2rem auto;
			transition: all 0.3s;

			&:hover {
				transform: translateY(-0.2rem) !important;
			}
			&:active {
				transform: translateY(0) !important;
			}
		}

		&-btn {
			display: inline-block;
		}
	}

	&__right {
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			width: 90%;
			height: auto;
		}
	}
}
