@import 'variables';

.project-card {
	display: flex;
	flex-direction: column;
	color: $color-gray;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 298px;
	margin: 2rem;
	position: relative;

	&__img {
		max-width: 100%;
		display: block;
		position: relative;
		z-index: -1;

		&-container {
			position: relative;
			// &:hover {
			// 	display: inline-block;
			// 	background: -webkit-linear-gradient(
			// 		to bottom right,
			// 		rgba($gradient-primary, 0.7),
			// 		rgba($gradient-secondary, 0.6)
			// 	);
			// 	background: -moz-linear-gradient(
			// 		to bottom right,
			// 		rgba($gradient-primary, 0.7),
			// 		rgba($gradient-secondary, 0.6)
			// 	);
			// 	background: linear-gradient(
			// 		to bottom right,
			// 		rgba($gradient-primary, 0.7),
			// 		rgba($gradient-secondary, 0.6)
			// 	);
			// }
		}
	}

	&__title {
		margin: 0.5rem auto;
		font-size: $project-title;
		font-weight: 500;
	}

	&__description {
		font-size: $project-description;
		font-weight: 200;
	}

	&__link {
		&,
		&:link,
		&:visited {
			text-decoration: none;
			color: $color-dark-header;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
			background: linear-gradient(
				to bottom right,
				rgba($gradient-primary, 0.7),
				rgba($gradient-secondary, 0.6)
			);
		}
	}
}
