@import 'variables';

.navigation {
	position: absolute;
	top: 0;
	display: flex;
	margin: 2rem auto 0 auto;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;

	&__button {
		padding: 0.6rem $btn-padding-rl;
		background-color: transparent;
		border: 1px solid $color-dark-header;
		border-radius: 0.2rem;
		color: $color-dark-header;
		font-weight: 400;
		transition: all 0.4s;

		&:hover {
			background-color: $color-dark-header;
			border-color: $color-dark-header;
			color: $color-dark-background !important;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 4.5rem;
		}
	}

	&__link {
		transition: all 0.3s;

		&,
		&:link,
		&:visited {
			text-decoration: none;
			color: $color-dark-header;
		}
		/*
		&:hover {
			color: $color-dark-header-hover;
		}
        */
	}

	&__list {
		display: flex;
		flex-grow: 1;
		font-size: $font-navigation;
		font-weight: 200;
		justify-content: flex-end;
		list-style-type: none;
	}

	&__logo {
		font-size: $font-logo;
		font-weight: 700;
	}

	&__nav {
		align-items: center;
		display: flex;
		width: 100%;
		position: relative;
		z-index: 200;
	}

	&__menu-icon {
		color: $color-dark-header;
		display: none;
		cursor: pointer;
	}

	&__icon {
		font-size: 4rem !important;
	}
}

@media screen and (max-width: 1024px) {
	.navigation {
		&__list {
			font-size: $font-navigation-sm !important;
			font-weight: 200;
		}
		&__logo {
			font-size: $font-logo-sm;
			font-weight: 700;
		}
		&__item {
			&:not(:last-child) {
				margin-right: 4rem !important;
			}
		}
	}
}
@media screen and (max-width: 876px) {
	.navigation {
		&__menu-icon {
			display: block;
			transition: all 0.8s ease-in-out;
		}

		&__list {
			flex-direction: column;
			width: 100%;
			position: absolute;
			background-color: rgba($color-dark-background, 0.9);
			padding: 2rem;
			right: 0;
			top: 6.4rem;
			align-items: center;
			z-index: 200;
			transition: all 0.4s linear;
		}

		&__list.closed {
			top: -1000%;
			transition: all 0.4s linear;
		}
		&__nav {
			justify-content: space-between;
		}
		&__item {
			padding: 2rem 0;
			&:not(:last-child) {
				margin-right: 0 !important;
			}
		}
	}
}
