.social__handle {
	&-sidebar {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 4rem;
		top: 0;
		height: 100%;
	}

	&-icon {
		&,
		&:link,
		&:visited {
			text-decoration: none;
		}

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&-img {
		width: 3rem;
		height: auto;
	}
}
