@import 'variables';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
	box-sizing: border-box;
	background-color: $color-dark-background;
}

.wrapper {
	position: relative;
	width: 80vw;
}

.App {
	position: relative;
	min-height: 95vh;
}
