// padding
$btn-padding-tb: 0.8rem;
$btn-padding-rl: 2.3rem;

// font-size
$font-logo: 2.4rem;
$font-navigation: 2rem;
$heading-primary: 6rem;
$heading-secondary: 4rem;
$heading-tertiary: 3rem;

// colors
$color-dark-header: #fffecb;
$color-dark-header-hover: #fea82f;
$color-dark-background: #01020a;
$color-orange: #ff2e00;
$color-gray: #f2f1ef;
$color-footer: #575761;

// social media icon size
$icon-size-sidebar: 2.5rem;
